.topdropdown{
    width:500px;
    height:50px;
    background-color:#005fad;
    color:white;
    font-family:sans-serif;
    padding:15px 0px 0px 30px;
    font-size:1.7em;
    cursor:pointer;
	display: inline-flex;
}
#dropdownoption{
    width:500px;
    height:50px;
    background-color:#f0f0f0;
    color: #005fad;
    font-family:sans-serif;
    padding:15px 0px 0px 30px;
    font-size:1.7em;
        cursor:pointer;
}
#dropdownoption:hover{
	background-color: #005fad;
	color:white;
}
.display{
    z-index:-1
    }
#plusoption{display:none;
		position:inherit;
		padding-right:20px;
		width:10px;
	}
#minusoption{position:inherit;
		padding-right:20px;
		width:10px;}